/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  overflow-x: hidden;
  color: @gaiaMedGray;
  background-color: white;
  font-family: @font-family-sans-serif;
}

*{
  outline: none;
}

html,
body{
  height: 100%;
}

#content_push {
  min-height: 100%;
  height: auto;
  margin: 0 auto -104px;
  padding: 0 0 104px;
}

/*
input::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
:-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
::-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
:-ms-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
*/

h1{
	color: @gaiaDarkBlue;
	font-family: @fututa;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
}

h2{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: @gaiaLightBlue;
}

a{
	color: @gaiaGreen;
	text-decoration: underline;
	&:hover,
	&:active{
		color: @gaiaBrightGreen;
	}
	&.general_button{
		color: white;
		background-color: @gaiaGreen;
		text-decoration:none;
		padding: 6px 24px;
		text-align:center;
		&:hover,
		&:active{
			background-color: @gaiaBrightGreen;
		}
		.glyphicon{
		  right:-15px;
		  top:2px;
		}
	}
}

input.general_button{
	color: white;
	background-color: @gaiaGreen;
	text-decoration:none;
	padding: 4px 24px;
	text-align:center;
	border:0;
	margin-top: 15px;
	&:hover,
	&:active{
		background-color: @gaiaBrightGreen;
	}
}

header{
	a.logo{
    background-color: white;
    display:block;
    width: 100%;
    height: 155px;
    margin-top:-18px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow:  0px 8px 6px -6px rgba(0,0,0,0.3);
    box-shadow:  0px 8px 6px -6px rgba(0,0,0,0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000');
    position:relative;
		margin-left: 15px;
    img{
	    position: absolute;
	    bottom:  15px;
	    left:0;
	    right: 0;
	    padding: 0 15px;
	    margin: 0 auto;
    }
    @media(max-width: 1169px){
	    height: 150px;
    }
    @media(max-width: 900px){
	    height: 110px;
    }
    @media(max-width: 700px){
	    height: 90px;
	    img{
		    bottom: 5px;
		    padding: 0 5px;
	    }
    }
    @media(max-width: 589px){
	  	 margin-left: 0;
	  	 height: 110px;
    }
	}
	.top{
		height: 18px;
		background-color: @gaiaTransBlue;
	}
	a.mobile_nav_button{
		width: 70px;
		height: 42px;
		position:absolute;
		display:none;
		border-radius: 3px;
		top: 120px;
		background: url('/assets/img/elements/mobile_navlines_56x34.png') center center no-repeat transparent;
		//.at2x('/assets/img/elements/mobile_navlines_56x34', 'png', 56px, 34px);
		background-color: white;
		@media(max-width: 589px){
	  	 display:block;
    }
    &:hover,
    &:active{
	    background-color: @gray-lighter;
    }
	}
}

.type-2 a.mobile_nav_button{
	display: none !important;
}

#general nav{
	ul{
		margin: 0;
		padding: 0;
		li{
			margin: 0;
			padding: 0;
			list-style-type: none;
			background: url('/assets/img/elements/arrow_nav_right_23x23.png') 95% center no-repeat transparent;
			.at2x('/assets/img/elements/arrow_nav_right_23x23', 'png', 23px, 23px);
			background-color: @gaiaLightBlue;
			&:hover,
			&.active{
				background-color: @gaiaDarkBlue;
			}
			&.active{
				background: url('/assets/img/elements/arrow_nav_bottom_23x23.png') 95% 10px no-repeat transparent;
			  .at2x('/assets/img/elements/arrow_nav_bottom_23x23', 'png', 23px, 23px);
			  background-color: @gaiaDarkBlue;
				ul{
					display:block;
					li{
						background-image: none;
					}
				}
			}
			a{
				color: white;
				text-transform: uppercase;
				display:block;
				font-size: 14px;
				padding: 14px 0 12px 25px;
				-webkit-font-smoothing: antialiased;
				border-bottom: 2px solid white;
				text-decoration:none;
				&:hover,
				&:active{
					color: white;
					text-decoration:none;
				}
				span{
					float:right;
					padding-right: 20px;
					@media(max-width: 730px){
						padding-right: 10px;
					}
				}
				@media(max-width:690px) and (min-width:590px){
					padding-left: 10px;
				}
			}
			ul{
				display:none;
				li{
					background-color: @gaiaLightGray;
					background-image: none;
					&:hover,
					&.active{
						background-color: @gaiaGreen;
						a{
							color: white;
						}
					}
					a{
						text-transform: none;
						padding: 8px 0 6px 25px;
						color: @gaiaDarkGray;
						font-size:13px;
						&:hover,
						&:active{
							color: white;
						}
						@media(max-width:690px) and (min-width:590px){
							padding-left: 10px;
						}
					}
				}
			}
		}//ul li
	}//ul
	@media (max-width:590px){
		display:none;
	}
	@media (min-width:591px){
		display:block !important;
	}
}

#altnav{
	.col-lg-6{
		margin-bottom: 30px;
	}
	a{
		color: white;
		font-family: @proxima;
		text-decoration:none;
		//height: 120px;
		display:block;
		//line-height: 120px;
		padding: 50px 20px;
		font-size: 20px;
		text-transform:uppercase;
		-webkit-font-smoothing: antialiased;
		background-color: @gaiaGreen;
		text-align:center;
		&:hover,
		&:active{
			background-color: @gaiaBrightGreen;
		}
		span{
		  position:absolute;
		  right: 30px;
		  top: 15px;
		}
	}
	br{
	  display:none;
	}
	a br{
	  display:block;
	}
}


#home{
	.container{
		background-color: @gaiaTransWhite;
		padding-top: 30px;
	}
	.alpha{
		margin-left: 15px;
		margin-bottom: 15px;
		&.row{
			margin-left: 0;
		}
		.alpha, .omega{
			margin-bottom: 0;
		}
	}
	.omega{
		margin-left: -15px;
		margin-bottom: 15px;
	}
	a{
	text-transform: uppercase;
	color: white;
	display:block;
	font-size: 25px;
	line-height: 30px;
	font-family: @proxima;
	position: relative;
	border: 1px solid @gaiaLightMedGray;
	span{
		display:block;
		position:absolute;
		-webkit-font-smoothing: antialiased;
	}
	@media(max-width: 939px){
		font-size: 20px;
		line-height: 24px;
	}
	@media(max-width: 740px){
		font-size: 18px;
		line-height: 22px;
	}
	@media(max-width: 660px){
		font-size: 16px;
		line-height: 20px;
	}
	@media(max-width: 589px){
		font-size: 20px;
		line-height: 24px;
	}
	&.solid{
		&.green{
			background-color: @gaiaGreen;
			&:hover{
				background-color: @gaiaBrightGreen;
			}
		}
		&.darkblue{
			background-color: @gaiaDarkBlue;
			&:hover{
				background-color: @gaiaMedBlue;
			}
		}
		&.lightblue{
			background-color: @gaiaLightBlue;
			&:hover{
				background-color: @gaiaLighterBlue;
			}
		}
		span{
			text-align:center;
			left: 0;
			right: 0;
			top: 94px;
			@media(max-width: 1169px){
				top: 73px;
			}
			@media(max-width: 939px){
				top: 54px;
			}
			@media(max-width: 723px){
				top: 44px;
			}
		}
	}
	&.monotone{
		span{
			bottom: 3px;
			right: 10px;
			text-align:right;
			@media(max-width: 660px) and (min-width: 590px){
				right: 5px;
			}
		}
		&:hover{
			background-position: center -208px !important;
			@media(max-width: 1169px){
				background-position: center -169px !important;
			}
			@media(max-width: 800px){
				background-position: center -128px !important;
			}
			@media(max-width: 722px){
				background-position: center -108px !important;
			}
		}
	}
	&.fullcolor{
		&.green{
			span{
				background-color: @gaiaGreen;
			}
			&:hover span{
				background-color: @gaiaBrightGreen;
			}
		}
		&.darkblue{
			span{
				background-color: @gaiaDarkBlue;
			}
			&:hover span{
				background-color: @gaiaMedBlue;
			}
		}
		&.lightblue{
			span{
				background-color: @gaiaLightBlue;
			}
			&:hover span{
				background-color: @gaiaLighterBlue;
			}
		}
		span{
			width: 100%;
			padding: 8px 9px 4px 15px;
			font-weight: 300;
			bottom:0;
			@media(max-width: 939px){
				padding: 7px 9px 4px 12px;

			}
		}
	}
	&:hover,
	&:active{
		text-decoration:none;
		color: white;
		}
	}
}


#home{
	#section1{
		.block1{
			height: 208px;
			@media(max-width: 1169px){
				height: 170px;
				span{
					padding: 0 15px;
					top: 60px;
				}
			}
			@media(max-width: 939px){
				height: 128px;
				span{
					top: 41px;
					padding: 0 30px;
				}
			}
			@media(max-width: 723px){
				height: 108px;
				span{
					top: 33px;
					padding: 0 15px;
				}
			}
			@media(max-width: 660px){
				span{
					top: 35px;
				}
			}
		}
		.block2{
			height: 208px;
			background: url('/assets/img/elements/home/270/home-eprocedure_270x416.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/270/home-eprocedure_270x416', 'jpg', 270px, 416px);
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/220/home-eprocedure_270x416.jpg');
				.at2x('/assets/img/elements/home/220/home-eprocedure_270x416', 'jpg', 220px, 340px);

			}
			@media(max-width: 939px){
				height: 128px;
			}
			@media(max-width: 800px){
				background-image: url('/assets/img/elements/home/166/home-eprocedure_270x416.jpg');
				.at2x('/assets/img/elements/home/166/home-eprocedure_270x416', 'jpg', 166px, 256px);
			}
			@media(max-width: 723px){
				height: 108px;
				background-image: url('/assets/img/elements/140/home-eprocedure_270x416.jpg');
				.at2x('/assets/img/elements/home/140/home-eprocedure_270x416', 'jpg', 140px, 216px);
			}
		}
		.block3{
			height: 262px;
			background: url('/assets/img/elements/home/570/home-econtacts_570x262.jpg') center center no-repeat transparent;
			.at2x('/assets/img/elements/home/570/home-econtacts_570x262', 'jpg', 570px, 262px);
			@media(max-width: 1169px){
				height: 211px;
				background: url('/assets/img/elements/home/460/home-econtacts_570x262.jpg');
				.at2x('/assets/img/elements/home/460/home-econtacts_570x262', 'jpg', 460px, 211px);
			}
			@media(max-width: 939px){
			  height: 161px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/home/166/home-econtacts_570x262.jpg');
				.at2x('/assets/img/elements/home/352/home-econtacts_570x262', 'jpg', 352px, 161px);
			}
			@media(max-width: 723px){
				height: 133px;
			}
			@media(max-width: 680px){
				background-image: url('/assets/img/elements/140/home-econtacts_570x262.jpg');
				.at2x('/assets/img/elements/home/290/home-econtacts_570x262', 'jpg', 290px, 133px);
			}
		}
	}//section1
	#section2{
		.block1{
			height: 485px;
			background: url('/assets/img/elements/home/270/home-empchanges_270x1000.jpg') center top no-repeat transparent;
			.at2x('/assets/img/elements/home/270/home-empchanges_270x1000', 'jpg', 270px, 1000px);
			&:hover{
				background-position: center -500px !important;
			}
			span{
				padding-left:30px;
			}
			@media(max-width: 1169px){
				height: 396px;
				background: url('/assets/img/elements/home/220/home-empchanges_270x1000.jpg');
				.at2x('/assets/img/elements/home/220/home-empchanges_270x1000', 'jpg', 220px, 814px);
				&:hover{
					background-position: 0px -407px !important;
				}
			}
			@media(max-width: 939px){
			  height: 304px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/home/166/home-empchanges_270x1000.jpg');
				.at2x('/assets/img/elements/home/166/home-empchanges_270x1000', 'jpg', 166px, 614px);
				&:hover{
					background-position: 0px -307px !important;
				}
			}
			@media(max-width: 723px){
				height: 255px;
				background-image: url('/assets/img/elements/140/home-empchanges_270x1000.jpg');
				.at2x('/assets/img/elements/home/140/home-empchanges_270x1000', 'jpg', 140px, 516px);
				&:hover{
					background-position: 0px -258px !important;
				}
			}

		}
		.block2{
			height: 208px;
			@media(max-width: 1169px){
				height: 170px;
			}
			@media(max-width: 939px){
				height: 128px;
			}
			@media(max-width: 723px){
				height: 108px;
			}
		}
		.block3{
			height: 262px;
			background: url('/assets/img/elements/home/270/home-trainlink_270x262.jpg') center center no-repeat transparent;
			.at2x('/assets/img/elements/home/270/home-trainlink_270x262', 'jpg', 270px, 262px);
			@media(max-width: 1169px){
				height: 211px;
				background: url('/assets/img/elements/home/220/home-trainlink_270x262.jpg');
				.at2x('/assets/img/elements/home/220/home-trainlink_270x262', 'jpg', 220px, 213px);
			}
			@media(max-width: 939px){
			  height: 161px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/166/home-trainlink_270x262.jpg');
				.at2x('/assets/img/elements/home/166/home-trainlink_270x262', 'jpg', 166px, 161px);
			}
			@media(max-width: 723px){
				height: 133px;
				background-image: url('/assets/img/elements/140/home-trainlink_270x262.jpg');
				.at2x('/assets/img/elements/home/140/home-trainlink_270x262', 'jpg', 140px, 136px);
			}
		}
	}//section2
	#section3{
		@media(min-width:590px){
			margin-top: 15px;
			.col-lg-8{
			  margin-right: -15px;
			}
		}
		.feed-bg{
			position:absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 8px;
			height: 100%;
			width: 100%;
			opacity: 0;
			background: url('/assets/img/elements/bg_feed.png') center center no-repeat transparent;
			background-size: cover;
			@media(max-width: 589px){
				display: none;
			}
			z-index:200;
		}
			.feed{
				border: 1px solid @gaiaLightMedGray;
				background-color: white;
				overflow:hidden;
				height: 208px;
				position:relative;
				z-index: 100;
        @media(min-width:590px){
          margin-bottom: 15px;
        }
        @media(max-width: 1169px){
          height: 170px;
        }
        @media(max-width: 939px){
          height: 128px;
        }
        @media(max-width: 723px){
          height: 108px;
        }
        @media(max-width: 589px){
          height: auto;
          padding-bottom: 50px;
        }
				span{
        background-color: @gaiaLightBlue;
        position:static;
        width: 100%;
        color: white;
        font-size: 25px;
        line-height: 30px;
        font-family: @proxima;
        text-transform: uppercase;
        text-align:center;
        position:relative;
        z-index:300;
        //padding: 8px 0 4px 0;
        font-weight: 300;
        display:block;
        -webkit-font-smoothing: antialiased;
        @media(max-width: 939px){
          font-size: 20px;
          line-height: 24px;
        }
        @media(max-width: 723px){
          font-size: 18px;
          line-height: 22px;
        }
        @media(max-width: 660px){
          font-size: 16px;
          line-height: 20px;
        }
        @media(max-width: 589px){
          font-size: 20px;
          line-height: 24px;
        }
				li{
					width: 100% !important;
				}
				a{
					border:0;
					text-decoration: none;
					display:block;
					padding: 8px 0 4px 0;
					@media(max-width: 589px){
						padding-top: 15px;
					}
					&:hover,
					&:active{
						background-color: @gaiaLighterBlue;
					}
				}
				&.flash{
					background-color: @gaiaLighterBlue;
				}
			}
			ul{
				padding:0;
				margin: 0;
				font-size: 12px;
				line-height: 21px;
				z-index:300;
				li{
					padding:10px 25px 15px 25px;
					list-style-type: none;
					font-size: 17px;
					line-height: 26px; 
					font-family: @futura;
					color: @gaiaDarkBlue;
					font-weight: bold;
					@media(max-width: 1100px){
						padding: 10px 15px;
						font-size: 15px;
						line-height: 26px; 
					}
					@media(max-width: 939px){
						padding: 5px 8px;
						font-size: 13px;
						line-height: 20px;
					}
					@media(max-width: 770px){
						padding: 5px 8px;
						font-size: 11px;
						line-height: 16px;
					}
					@media(max-width: 589px){
						font-size: 15px;
						line-height: 26px;
						padding: 10px 25px 15px 25px;
					}
				}
			}
		}
		.block2{
			height: 208px;
			background: url('/assets/img/elements/home/370/home-hr2_370x208.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-hr2_370x208', 'jpg', 370px, 208px);
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/300/home-hr2_370x208.jpg');
				.at2x('/assets/img/elements/home/300/home-hr2_370x208', 'jpg', 300px, 169px);
			}
			@media(max-width: 939px){
			  height: 128px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-hr2_370x208.jpg');
				.at2x('/assets/img/elements/home/228/home-hr2_370x208', 'jpg', 228px, 128px);
			}
			@media(max-width: 723px){
				height: 108px;
				span{
					padding-left: 5px;
					padding-right: 0;
				}
			}
			@media(max-width: 680px){
				background-image: url('/assets/img/elements/190/home-hr2_370x208.jpg');
				.at2x('/assets/img/elements/home/190/home-hr2_370x208', 'jpg', 190px, 107px);
			}
		}
		.block3{
			height: 208px;
			background: url('/assets/img/elements/home/370/home-maint_370x208.jpg') center center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-maint_370x208', 'jpg', 370px, 208px);
			@media(min-width:590px){
				margin-bottom: 15px;
			}
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/300/home-maint_370x208.jpg');
				.at2x('/assets/img/elements/home/300/home-maint_370x208', 'jpg', 300px, 169px);
			}
			@media(max-width: 939px){
			  height: 128px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-maint_370x208.jpg');
				.at2x('/assets/img/elements/home/228/home-maint_370x208', 'jpg', 228px, 128px);
			}
			@media(max-width: 723px){
				height: 108px;
			}
			@media(max-width: 680px){
				background-image: url('/assets/img/elements/190/home-maint_370x208.jpg');
				.at2x('/assets/img/elements/home/190/home-maint_370x208', 'jpg', 190px, 107px);
			}
		}
		.block4{
			height: 208px;
			background: url('/assets/img/elements/home/370/home-accounting_370x416.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-accounting_370x416', 'jpg', 370px, 416px);
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/300/home-accounting_370x416.jpg');
				.at2x('/assets/img/elements/home/300/home-accounting_370x416', 'jpg', 300px, 336px);
			}
			@media(max-width: 939px){
			  height: 128px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-accounting_370x416.jpg');
				.at2x('/assets/img/elements/home/228/home-accounting_370x416', 'jpg', 228px, 256px);
			}
			@media(max-width: 723px){
				height: 108px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-accounting_370x416.jpg');
				.at2x('/assets/img/elements/home/190/home-accounting_370x416', 'jpg', 190px, 212px);
			}
		}
		.block5{
		  height: 431px;
		  span{
			  top: 185px;
		  }
      @media(max-width: 1169px){
        height: 355px;
        span{
				  top: 185px;
			  }
      }
      @media(max-width: 939px){
        height: 271px;
        span{
				  top: 150px;
			  }
      }
      @media(max-width: 723px){
        height: 231px;
        span{
				  top: 115px;
			  }
      }
      @media(max-width: 589px){
        height: auto;
        margin-bottom: 15px;
        span{
				  top: 100px;
			  }
      }
		}
	}//section3
	#section4{
		.block1{
			height: 208px;
			@media(max-width: 1169px){
				height: 175px;
			}
			@media(max-width: 939px){
			  height: 134px;
			}
			@media(max-width: 723px){
				height: 110px;
			}
		}
		.block2{
			height: 217px;
			background: url('/assets/img/elements/home/570/home-empsearch_570x217.jpg') center center no-repeat transparent;
			.at2x('/assets/img/elements/home/570/home-empsearch_570x217', 'jpg', 570px, 217px);
			@media(max-width: 1169px){
				height: 175px;
				background-image: url('/assets/img/elements/home/300/home-empsearch_570x217.jpg');
				.at2x('/assets/img/elements/home/460/home-empsearch_570x217', 'jpg', 460px, 175px);
			}
			@media(max-width: 939px){
			  height: 134px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-empsearch_570x217.jpg');
				.at2x('/assets/img/elements/home/352/home-empsearch_570x217', 'jpg', 352px, 134px);
			}
			@media(max-width: 723px){
				height: 110px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-empsearch_570x217.jpg');
				.at2x('/assets/img/elements/home/290/home-empsearch_570x217', 'jpg', 290px, 110px);
			}
		}
	}//section4
	#section5{
		@media(min-width: 590px){
			margin-bottom: 15px;
		}
		.block1{
			height: 135px;
			background: url('/assets/img/elements/home/570/home-yardi_570x270.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/570/home-yardi_570x270', 'jpg', 570px, 270px);
			&:hover{
				background-position: center -135px !important;
			}
			@media(max-width: 1169px){
				height: 109px;
				background-image: url('/assets/img/elements/home/300/home-yardi_570x270.jpg');
				.at2x('/assets/img/elements/home/460/home-yardi_570x270', 'jpg', 460px, 218px);
				&:hover{
					background-position: center -109px !important;
				}
			}
			@media(max-width: 939px){
			  height: 83px;
			}
			@media(max-width: 800px){
			  background-image: url('/assets/img/elements/228/home-yardi_570x270.jpg');
				.at2x('/assets/img/elements/home/352/home-yardi_570x270', 'jpg', 352px, 290px);
				&:hover{
					background-position: center -83px !important;
				}
			}
			@media(max-width: 723px){
				height: 68px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-yardi_570x270.jpg');
				.at2x('/assets/img/elements/home/290/home-yardi_570x270', 'jpg', 290px, 136px);
				&:hover{
					background-position: center -68px !important;
				}
			}
		}
		.block2{
			height: 135px;
			background: url('/assets/img/elements/home/170/home-webmail_170x270.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/170/home-webmail_170x270', 'jpg', 170px, 270px);
			&:hover{
				background-position: center -135px !important;
			}
			@media(max-width: 1169px){
				height: 109px;
				background-image: url('/assets/img/elements/home/300/home-webmail_170x270.jpg');
				.at2x('/assets/img/elements/home/140/home-webmail_170x270', 'jpg', 140px, 111px);
				&:hover{
					background-position: center -111px !important;
				}
			}
			@media(max-width: 939px){
			  height: 82px;
			}
			@media(max-width: 800px){
			  background-image: url('/assets/img/elements/228/home-webmail_170x270.jpg');
				.at2x('/assets/img/elements/home/104/home-webmail_170x270', 'jpg', 104px, 164px);
				&:hover{
					background-position: center -82px !important;
				}
			}
			@media(max-width: 723px){
				height: 68px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-webmail_170x270.jpg');
				.at2x('/assets/img/elements/home/90/home-webmail_170x270', 'jpg', 90px, 142px);
				&:hover{
					background-position: center -71px !important;
				}
			}
		}
		.block3{
			height: 135px;
			background: url('/assets/img/elements/home/370/home-mktgmat_370x135.jpg') center center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-mktgmat_370x135', 'jpg', 370px, 135px);
			@media(max-width: 1169px){
				height: 109px;
				background-image: url('/assets/img/elements/home/300/home-mktgmat_370x135.jpg');
				.at2x('/assets/img/elements/home/300/home-mktgmat_370x135', 'jpg', 300px, 109px);
			}
			@media(max-width: 939px){
			  height: 82px;
			}
			@media(max-width: 800px){
			  background-image: url('/assets/img/elements/228/home-mktgmat_370x135.jpg');
				.at2x('/assets/img/elements/home/228/home-mktgmat_370x135', 'jpg', 228px, 83px);
				span{
					font-size: 16px;
					padding-left: 10px;
					padding-right: 0;
				}
			}
			@media(max-width: 723px){
				height: 68px;
				span{
					font-size: 15px;
					padding-left: 7px;
				}
			}
			@media(max-width: 600px) and (min-width: 590px){
				background-image: url('/assets/img/elements/190/home-mktgmat_370x135.jpg');
				.at2x('/assets/img/elements/home/190/home-mktgmat_370x135', 'jpg', 190px, 69px);
				span{
					font-size: 14px;
					padding-left: 7px;
				}
			}
			@media(max-width: 589px){
				span{
					font-size: 20px;
					padding-left: 0;
				}
			}
		}
		.block4{
			height: 140px;
			span{
				top: 57px;
			}
			@media(max-width: 1169px){
				height: 117px;
				span{
					top: 45px;
				}
			}
			@media(max-width: 939px){
			  height: 88px;
			  span{
					top: 33px;
				}
			}
			@media(max-width: 723px){
				height: 69px;
				span{
					top: 24px;
				}
			}
		}
	}//section5
	#section6{
		.block1{
			height: 208px;
			background: url('/assets/img/elements/home/370/home-resservices_370x416.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-resservices_370x416', 'jpg', 370px, 416px);
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/300/home-resservices_370x416.jpg');
				.at2x('/assets/img/elements/home/300/home-resservices_370x416', 'jpg', 300px, 336px);
				&:hover{
					background-position: center -169px !important;
				}
			}
			@media(max-width: 939px){
			  height: 128px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-resservices_370x416.jpg');
				.at2x('/assets/img/elements/home/228/home-resservices_370x416', 'jpg', 228px, 256px);
				&:hover{
					background-position: center -128px !important;
				}
			}
			@media(max-width: 723px){
				height: 107px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-resservices_370x416.jpg');
				.at2x('/assets/img/elements/home/190/home-resservices_370x416', 'jpg', 190px, 212px);
				&:hover{
					background-position: center -107px !important;
				}
			}
		}
		.block2{
			height: 208px;
			background: url('/assets/img/elements/home/370/home-it_370x416.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-it_370x416', 'jpg', 370px, 416px);
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/300/home-it_370x416.jpg');
				.at2x('/assets/img/elements/home/300/home-it_370x416', 'jpg', 300px, 336px);
				&:hover{
					background-position: center -169px !important;
				}
			}
			@media(max-width: 939px){
			  height: 128px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-it_370x416.jpg');
				.at2x('/assets/img/elements/home/228/home-it_370x416', 'jpg', 228px, 258px);
				&:hover{
					background-position: center -129px !important;
				}
			}
			@media(max-width: 723px){
				height: 107px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-it_370x416.jpg');
				.at2x('/assets/img/elements/home/190/home-it_370x416', 'jpg', 190px, 212px);
				&:hover{
					background-position: center -107px !important;
				}
			}
		}
		.block3{
			height: 208px;
			background: url('/assets/img/elements/home/370/home-hr_370x416.jpg') top center no-repeat transparent;
			.at2x('/assets/img/elements/home/370/home-hr_370x416', 'jpg', 370px, 416px);
			@media(max-width: 1169px){
				height: 170px;
				background-image: url('/assets/img/elements/home/300/home-hr_370x416.jpg');
				.at2x('/assets/img/elements/home/300/home-hr_370x416', 'jpg', 300px, 336px);
				&:hover{
					background-position: center -169px !important;
				}
			}
			@media(max-width: 939px){
			  height: 128px;
			}
			@media(max-width: 800px){
			 	background-image: url('/assets/img/elements/228/home-hr_370x416.jpg');
				.at2x('/assets/img/elements/home/228/home-hr_370x416', 'jpg', 228px, 258px);
				&:hover{
					background-position: center -129px !important;
				}
			}
			@media(max-width: 723px){
				height: 107px;
			}
			@media(max-width: 600px){
				background-image: url('/assets/img/elements/190/home-hr_370x416.jpg');
				.at2x('/assets/img/elements/home/190/home-hr_370x416', 'jpg', 190px, 212px);
				&:hover{
					background-position: center -107px !important;
				}
			}
		}
	}//section5
}//range5

//Mobile Home Styles
#home{
	@media(max-width: 589px){
		.alpha,
		.omega{
			margin: 0 auto;
			&.row{
				margin-left: -15px;
				margin-right: -15px;
			}
		}
		.col-lg-6{
			width: 100%;
			clear: both;
		}
		a{
			height: 50px !important;
			span{
				top: 15px !important;
				bottom: 0 !important;
				right: 0 !important;
				left: 0 !important;
				text-align:center !important;
				padding: 0 !important;
				font-weight: 300 !important;
			}
		}
		.green{
			background-color: @gaiaGreen !important;
			background-image: none !important;
			&:hover{
				background-color: @gaiaBrightGreen !important;
			}
		}//green
		.darkblue{
			background-color: @gaiaDarkBlue !important;
			background-image: none !important;
			&:hover{
				background-color: @gaiaMedBlue !important;
			}
		}//darkblue
		.lightblue{
			background-color: @gaiaLightBlue !important;
			background-image: none !important;
			&:hover{
				background-color: @gaiaLighterBlue !important;
			}
		}//green
		#section1,
		#section2,
		#section3,
		#section4,
		#section5,
		#section6{
			margin-bottom: 15px !important;
		}
	}
}

#general{
	h1{
		margin-bottom:30px;
	}
	.container{
		padding: 30px;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjU5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.59) 0%, rgba(255,255,255,1) 25%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.59)), color-stop(25%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.59) 0%,rgba(255,255,255,1) 25%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0.59) 0%,rgba(255,255,255,1) 25%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.59) 0%,rgba(255,255,255,1) 25%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0.59) 0%,rgba(255,255,255,1) 25%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	}
	h2{
		margin-top: 0 0 20px 0;
	}
	p{
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 15px;
	}
	.back{
		//position:absolute;
		//right: 0;
		margin-top: 15px;
		display:block;
		color: white;
		text-decoration: none;
		padding: 7px 7px 7px 3px;
		font-size: 12px;
		background-color: @gaiaGreen;
		&:before{
			content: "";
			padding-left: 15px;
			background: url('/assets/img/elements/arrow_small_left_14x14.png') center center no-repeat transparent;
		.at2x('/assets/img/elements/arrow_small_left_14x14', 'png', 14px, 15px);

		}
		&:hover,
		&:active{
			background-color: @gaiaBrightGreen;
		}
	}
	.tocnav .prev,
	.tocnav .next{
		color: white;
		text-decoration:none;
		padding: 4px 0;
		text-align:center;
		width: 85px;
		display:block;
		&:hover,
		&:active{
			background-color: @gaiaBrightGreen;
		}
	}
	.tocnav .last,
	.tocnav .first{
		display:none;
	}
	.tocnav .prev{
		background: url('/assets/img/elements/arrow_small_left_14x14.png') 5% center no-repeat transparent;
		.at2x('/assets/img/elements/arrow_small_left_14x14', 'png', 14px, 15px);
		background-color: @gaiaGreen;
		float: left;
		//position:absolute;
		//bottom: 0;
		//right: 100px;
	}
	.tocnav .next{
		background: url('/assets/img/elements/arrow_small_right_14x14.png') 95% center no-repeat transparent;
		.at2x('/assets/img/elements/arrow_small_right_14x14', 'png', 14px, 15px);
		background-color: @gaiaGreen;
		float: right;
		//position:absolute;
		//bottom: 0;
		//right: 0;
	}
	ul{
		padding:0 40px 0 0;
		margin: 25px 0 0 20px;
		font-size: 12px;
		line-height: 21px;
		@media(max-width: 900px) and (min-width: 590px){
			padding-right: 20px;
			margin-left: 18px;
			li{
				padding-left: 15px;
			}
		}
		li{
			padding:0 0 0 25px;
			margin: 0 0 20px 0;
			list-style-type: none;
			background: url('/assets/img/elements/list_bullet_8x8.jpg') left 6px no-repeat;
			.at2x('/assets/img/elements/list_bullet_8x8', 'jpg', 8px, 8px);
		}
	}
	.toc{
		ul{
			//width: 50%;
			padding: 0;
			margin: 0;
			li{
				background-image: none;
				list-style-type:none;
				padding: 4px 0;
				font-size: 12px;
				margin: 0;
				a{
					//width: 100%;
				}
			}
		}
	}//#toc
	form{
		margin-top:-10px;
		input[type="text"],textarea{
			border: 1px solid @gaiaLightMedGray;
			@media (max-width:600px){
				width: 100%;
			}
		}
		.side{
			float:left;
			margin-right: 10px;
		}
		.control-group{
			textarea{
				width: 50%;
			}
			@media (max-width:830px){
				width: 100%;
				float: none;
				margin-right: 0;
				input[type="text"],textarea{
					width: 50%;
				}
			}
			@media (max-width:600px){
				input[type="text"],textarea{
					width: 100%;
				}
			}
		}
		.attachments{
			font-size: 13px;
			margin-top: 42px;
			input{
				padding-bottom:13px;
				margin-bottom:10px;
				border-bottom: 1px solid @gaiaLightBlue;
				width: 50%;
				@media(max-width:640px){
					width: 100%;
				}
				&.last{
					border-bottom:0;
					margin-bottom:0;
					padding-bottom: 0;
				}
			}
			label{
				color: #4a5866;
			}
		}
		.checkboxes{
			margin-top:3px;
			input{
				margin-right: 10px;
				margin-bottom:3px;
			}
		}

	}//form
}//#general


.page-26 #general .col-lg-8 ul{
	font-size: 18px;
	line-height: 28px;
	li{
		margin: 0 0 30px 0;
		padding: 0 50px 25px 40px;
		background-position: left 9px;
		border-bottom: 1px solid @gaiaLightBlue;
		@media(max-width:840px){
			padding: 0 25px 25px 40px;
			font-size: 16px;
			line-height: 26px;
			margin: 0 0 25px 0;
		}
		@media(max-width:790px){
			padding: 0 0 20px 20px;
			font-size: 14px;
			line-height: 24px;
			margin: 0 0 20px 0;
		}
	}
}

#login_home{
	width: 100%;
	height: 100%;
	.overlay{
		background-color: @gaiaTransGray;
		width:100%;
		height: 100%;
		position:relative;
		z-index:300;
		overflow:hidden;
	}
	iframe{
		position:absolute;
		top:0;
		overflow:hidden;
	}
	.login{
		background-color: white;
		width: 30%;
		display:block;
		margin: 15% auto 0 auto;
		padding: 15px;
		-webkit-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow:  0px 8px 6px -6px rgba(0,0,0,0.3);
    box-shadow:  0px 8px 6px -6px rgba(0,0,0,0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000')";
	  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000');
	  form{
		  .control-group{
			  &:first-child{
				  margin-bottom: 10px;
			  }
			  input{
				  width: 100%;
				  border: 1px solid #ccc;
				  &:focus{
					  border: 1px solid #ccc;
				  }
			  }
		  }
		  .error{
			  color: red;
		  }
	  }//form
	  a.forgot{
		  display:inline-block;
		  margin-top: 10px;
	  }
	  .general_button{
			position:relative;
			z-index:500;
	  }
	}//login
}

#search{
	form{
		width:100%;
		position: absolute;
		margin-top: -54px;
		right: 0;
		input{
			width: 100%;
			color: @gaiaLightBlue;
			padding: 10px 5px 7px 15px;
			font-size: 18px;
			text-transform: uppercase;
			border: 0;
			-webkit-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.3);
	    -moz-box-shadow:  0px 8px 6px -6px rgba(0,0,0,0.3);
	    box-shadow:  0px 8px 6px -6px rgba(0,0,0,0.3);
	    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000')";
	    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000');
		}
		button{
			position:absolute;
			right:0;
			top: 0;
			background: url('/assets/img/elements/arrow_search_19x19.png') center center no-repeat transparent;
			.at2x('/assets/img/elements/arrow_search_19x19', 'png', 19px, 19px);
			height: 44px;
			width: 50px;
			border:0;
		}
		@media(max-width:589px){
			margin-top: -50px;
			margin-right: 15px;
			width: 50%;
		}
	}
}

footer{
	background-color: @gaiaDarkBlue;
	color: white;
	text-align:center;
	-webkit-font-smoothing: antialiased;
	padding:27px 0 30px 0;
	a{
		color: white;
		&:hover,
		&:active{
			text-decoration:none;
			color: @gaiaLightBlue;
		}
	}
	.name{
		font-weight: 800;
		clear:both;
		padding-bottom:7px;
	}
	h2{
		margin: 3px 0 10px 0;
	}
	.controls{
		display:block;
		margin-bottom: 11px;
	}
}

// Drawers
#content_container {

  //background-color: white;
  background: url('/assets/img/elements/background_1200x1086.jpg') top center no-repeat transparent;
  .at2x('/assets/img/elements/background_1200x1086', 'jpg', 1200px, 1086px);
  max-width: 1200px;
  margin: 0 auto;
  background-color: @gaiaBackgroundGray;
  @media(min-width: 1170px){
	  max-width: 1500px;
	  background: url('/assets/img/elements/background_1500x1358.jpg') top center no-repeat transparent;
	  background-color: @gaiaBackgroundGray;
  }
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid @adaraLightGray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          //background-color: @gray-lighter;
          a{
            color: blue;
          }
          ul li a{
            background-color: white;
            color: gray;
            &:hover,
            &:active{
              color: blue;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: blue;
          }
        }
        ul{
          li{
            a{
              color: gray;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: @gray-lighter;
              color: blue;
            }
          }
        }
        a{
          color: gray;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-light;
          &:hover,
          &:active{
            //background-color: @gray-lighter;
            color: blue;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers

.property-image {
	margin-bottom: 15px;
	img{
		width: 100%;
	}
}

.success{
	width: 100%;
	float: left;
	background-color: @gaiaLightBlue;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	&.success-paragraph{
		text-transform:none;
		-webkit-font-smoothing: antialiased;
	}
}

.error{
	color: red;
}