<strong>Open Position Post</strong><br /><br />
<strong>Location:</strong> [[+location]] <br/>
<strong>Position:</strong> [[+position]] <br/>
<strong>FT/PT/Salaried:</strong> [[+duration_values]] <br/>
<strong>Replacing or New:</strong> [[+status_values]] <br/>
<strong>Rate of Pay:</strong> [[+rate]] <br/>
<strong>Specific Qualifications:</strong> [[+qualifications]]<br/>