<strong>Termination</strong><br /><br />
<strong>Employee Name:</strong> [[+employee]] <br/>
<strong>Term Date:</strong> [[+termdate]] <br/>
<strong>Title:</strong> [[+title]] <br/>
<strong>Property:</strong> [[+property]] <br/>
<strong>Person Submitting:</strong> [[+person]] <br/>
<strong>Division:</strong> [[+division]] <br/>
