[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`[[+supervisor]]`
  &emailTpl=`tpl-email_emergency_contacts`
  &emailSubject=`You have received an emergency contact submission from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &clearFieldsOnSuccess=`0`
  &fsFormTopic=`Emergency Contacts`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`1800`
  &validate=`attachment1:required`
]]
[[!FormItRetriever]]

<form class="form-horizontal" name="emergency_form" id="emergency_form" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data">

  <div class="attachments">
  	<h2>Upload Completed Form</h2>
  	<label>Emergency Contact Form</label> [[!+fi.error.attachment1]]
    <input name="attachment1" type="file" size="50" value="[[!+fi.attachment1]]" class="last" required/>
  </div>
  <br />

  <h2>Select Supervisor</h2> [[!+fi.error.supervisor]]
  <select name="supervisor">
   <option value="GPMHoustonAshleyRegionManagers@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`GPMHoustonAshleyRegionManagers@gaiare.com`]]>Ashley Johnson</option>
   <option value="GPMHoustonCrystalRegionManagers@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`GPMHoustonCrystalRegionManagers@gaiare.com`]] >Crystal Jackson</option>
   <option value="GPMNortheastPropertyManagers@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`GPMNortheastPropertyManagers@gaiare.com`]] >Gary Feigin</option>
   <option value="rorgard@gaia-pm.com" [[!+fi.supervisor:FormItIsSelected=`rorgard@gaia-pm.com`]] >Roy Orgard</option>
   <option value="nnathaniel@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`nnathaniel@gaiare.com`]] >Noam Nathaniel</option>
   <option value="vmacias@gaia-pm.com" [[!+fi.supervisor:FormItIsSelected=`vmacias@gaia-pm.com`]] >Corporate</option>
  </select>
   <br /><br />


  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
    </div><!--/.controls-->
  </div><!--/.control-group-->
</form>
