[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`vmacias@gaia-pm.com`
  &emailTpl=`tpl-email_pre_employment`
  &emailSubject=`You have received a pre employment submission from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`Pre Employment`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`360`
  &validate=`
  	username:blank,
		attachment1:required,
		attachment2:required,
		attachment3:required,
		attachment4:required,
		attachment5:required
  `
]]
[[!FormItRetriever]]

		<form class="form-horizontal" name="pre_employment" id="pre_employment" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data" >
      <input type="hidden" name="username" value="" />

      <div class="attachments">
      	<h2>Upload Completed Forms</h2>
      	<label>Pre-Employment Form</label> [[!+fi.error.attachment1]]
	      <input name="attachment1" type="file" size="50" value="[[!+fi.attachment1]]" required/>
	      <label>Employment Application</label> [[!+fi.error.attachment2]]
				<input name="attachment2" type="file" size="50" value="[[!+fi.attachment2]]" required/>
				<label>EEO Self Identification Form</label> [[!+fi.error.attachment3]]
				<input name="attachment3" type="file" size="50" value="[[!+fi.attachment3]]" required/>
				<label>Consent Form</label> [[!+fi.error.attachment4]]
				<input name="attachment4" type="file" size="50" value="[[!+fi.attachment4]]" required/>
				<label>Drug Screen Form</label> [[!+fi.error.attachment5]]
				<input name="attachment5" type="file" size="50" value="[[!+fi.attachment5]]" class="last" required/>
      </div>
      <br />

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
