[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`roger@keystoneresources.com`
  &emailTpl=`tpl-email_recommendation`
  &emailSubject=`You have received a recommendation from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &clearFieldsOnSuccess=`0`
  &fsFormTopic=`Recommendation`
  &successMessage=`<span class="success success-paragraph">Thank you for making a recommendation to improve Gaia. Your feedback is important and Gaia will consider your recommendation. Thank you for being a valued team member.</span><br />`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  message:required` 
]]
[[!FormItRetriever]]

		<form class="form-horizontal" name="termination" id="termination" method="post" action="[[~[[*id]]]]" >
      <input type="hidden" name="username" value="" />

      <div class="control-group">
        <label class="control-label" for="employee">Name</label>
        <div class="controls">
          <input type="text" id="employee"  name="employee" value="[[!+fi.employee]]">
          [[!+fi.error.employee]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="message">Recommendation <span class="required">*</span></label> [[!+fi.error.message]]
        <div class="controls">
	        <textarea type="text" id="message"  name="message" value="[[!+fi.c]]" required>[[!+fi.message]]</textarea>
          [[!+fi.error.message]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
