[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,fiProcessArrays,FormSave,email`
  &emailTo=`vmacias@gaia-pm.com`
  &emailTpl=`tpl-email_post_open_position`
  &emailSubject=`You have received an open position post from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`Post Open Position`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`360`
  &validate=`
  username:blank,
  location:required,
  position:required,
  duration_values:required,
  status_values:required,
  rate:required,
  qualifications:required`
]]
[[!FormItRetriever]]

		<form class="form-horizontal" name="post_position" id="post_position" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data" >
      <input type="hidden" name="username" value="" />
      <input type="hidden" name="duration_values[]" value="" />
      <input type="hidden" name="status_values[]" value="" />

      <div class="control-group">
        <label class="control-label" for="location">Location <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="location"  name="location" value="[[!+fi.location]]" required>
          [[!+fi.error.location]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="position">Position <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="position"  name="position" value="[[!+fi.position]]" required>
          [[!+fi.error.position]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group checkboxes">
        <label class="control-label" for="duration_values">
        	FT/PT/Salaried <span class="required">*</span>
        </label>
        <div class="controls">
        	<input type="radio" id="duration_fulltime"  name="duration_values[]" value="Full Time" [[!+fi.duration_values:FormItIsChecked=`Full Time`]]>Full Time<br />
          <input type="radio" id="duration_parttime"  name="duration_values[]" value="Part Time" [[!+fi.duration_values:FormItIsChecked=`Part Time`]]>Part Time<br />
          <input type="radio" id="duration_salaried"  name="duration_values[]" value="Salaried" [[!+fi.duration_values:FormItIsChecked=`Salaried`]]>Salaried<br />
          [[!+fi.error.duration_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group checkboxes">
        <label class="control-label" for="status_values">
        	Replacing or New <span class="required">*</span>
        </label>
        <div class="controls">
        	<input type="radio" id="status_replacing"  name="status_values[]" value="Replacing" [[!+fi.status_values:FormItIsChecked=`Replacing`]]>Replacing<br />
          <input type="radio" id="status_new"  name="status_values[]" value="New" [[!+fi.status_values:FormItIsChecked=`New`]]>New<br />
          [[!+fi.error.status_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->


      <div class="control-group">
        <label class="control-label" for="rate">Rate of Pay <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="rate"  name="rate" value="[[!+fi.rate]]" required>
          [[!+fi.error.rate]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="qualifications">Specific Qualifications <span class="required">*</span></label>
        <div class="controls">
           <textarea rows="5" id="qualifications" name="qualifications" type="text">[[!+fi.qualifications]]</textarea>
          [[!+fi.error.qualifications]]
        </div><!--/.controls-->
      </div><!--/.control-group-->


        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
