			</div><!--/#content_push-->
			<footer>
			 	<div class="container">
			   	<div class="row">
				   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
					   	<h2>Growing. Adapting. Innovating. Achieving.</h2>
					   	<span class="controls">
					   		<a href="[[~174? &service=logout]]" title="Logout" class="name">Logout</a> &bull; <a href="[[~178]]" title="Change Password" class="name">Change Password</a>
					   	</span>
					   	&copy; [[current_year]] GAIA. All Rights Reserved. <a href="[[~27]]">Privacy policy</a>. Site by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
				   	</div><!--/.col12-->
			   	</div><!--/.row-->
			 	</div><!--/.container-->
			</footer>
		</div><!--/#content_container-->
		[[$scripts]]
 	</body> 
</html>  