[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`gaiare-termination@gaiare.com`
  &emailTpl=`tpl-email_termination_process`
  &emailSubject=`You have received a termination submission from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`Termination`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`360`
  &validate=`
	  username:blank,
	  employee:required,
	  termdate:required,
	  title:required,
	  property:required,
	  person:required`
]]
[[!FormItRetriever]]

		<form class="form-horizontal" name="termination" id="termination" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data" >
      <input type="hidden" name="username" value="" />


      <div class="control-group">
        <label class="control-label" for="employee">Employee Name <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="employee"  name="employee" value="[[!+fi.employee]]" required>
          [[!+fi.error.employee]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="termdate">Term Date <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="startdate"  name="termdate" value="[[!+fi.termdate]]" required>
          [[!+fi.error.termdate]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="title">Title <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="title"  name="title" value="[[!+fi.title]]" required>
          [[!+fi.error.title]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="property">Property <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="property" name="property" value="[[!+fi.property]]" required>
          [[!+fi.error.property]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group">
        <label class="control-label" for="person">Person Submitting <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="person"  name="person" value="[[!+fi.person]]" required>
          [[!+fi.error.person]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

       <div class="attachments">
      	<h2>Upload Completed Form</h2>
      	<label>Separation Form</label>
	      <input name="attachment1" type="file" size="50" value="[[!+fi.attachment1]]" class="last" />
      </div>

      <div class="attachments">
      	<h2>Upload Other</h2>
      	<label>Petty Cash (if applicable)</label>
	      <input name="attachment2" type="file" size="50" value="[[!+fi.attachment2]]" />
	      <label>Credit Card (if applicable)</label>
	      <input name="attachment3" type="file" size="50" value="[[!+fi.attachment3]]" class="last" />
      </div>

      <br />

      <h2>Division</h2>
      <select name="division">
		   <option value="Real Estate" [[!+fi.division:FormItIsSelected=`Real Estate`]]>Real Estate</option>
		   <option value="Property Management" [[!+fi.division:FormItIsSelected=`Property Management`]]>Property Management</option>
		  </select>
		  <br /><br />

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
