[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTpl=`tpl-email_incident_report`
  &emailSubject=`You have received an incident report from [[++site_url]]`
  &emailTo=`[[+supervisor]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`Incident Report`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`360`
  &validate=`attachment1:required`
]]
[[!FormItRetriever]]

		<form class="form-horizontal" name="incident_form" id="incident_form" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data">

      <div class="attachments">
      	<h2>Upload Completed Forms</h2>
      	<label>Main Incident Report</label> [[!+fi.error.attachment1]]
	      <input name="attachment1" type="file" size="50" value="[[!+fi.attachment1]]" required/>
	      <label>Slip and Fall Liability (if applicable)</label>
				<input name="attachment2" type="file" size="50" value="[[!+fi.attachment2]]" />
				<label>Property Damage (if applicable)</label>
				<input name="attachment3" type="file" size="50" value="[[!+fi.attachment3]]" />
				<label>Witness Statement (if applicable)</label>
				<input name="attachment4" type="file" size="50" value="[[!+fi.attachment4]]" class="last" />
      </div>

      <div class="attachments">
      	<h2>Upload Photos</h2>
      	<p>These must be small data files. Please contact IT or Regional if you need assistance.</p>
	      <input name="attachment5" type="file" size="50" value="[[!+fi.attachment5]]" />
				<input name="attachment6" type="file" size="50" value="[[!+fi.attachment6]]" />
				<input name="attachment7" type="file" size="50" value="[[!+fi.attachment7]]" class="last" />
      </div>

      <br />
      <h2>Select Supervisor</h2>
      <select name="supervisor">
		   <option value="GPMHoustonAshleyRegionManagers@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`GPMHoustonAshleyRegionManagers@gaiare.com`]]>Ashley Johnson</option>
		   <option value="GPMNortheastPropertyManagers@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`GPMNortheastPropertyManagers@gaiare.com`]] >Gary Feigin</option>
		   <option value="shevia@gaia-pm.com" [[!+fi.supervisor:FormItIsSelected=`shevia@gaia-pm.com`]] >Steve Hevia</option>
		   <option value="GPMHoustonCrystalRegionManagers@gaiare.com" [[!+fi.supervisor:FormItIsSelected=`GPMHoustonCrystalRegionManagers@gaiare.com`]] >Crystal Jackson</option> 
		   <option value="ddovell@gaia-pm.com" [[!+fi.supervisor:FormItIsSelected=`ddovell@gaia-pm.com`]] >Dana Dovell</option>
		   <option value="vmacias@gaia-pm.com" [[!+fi.supervisor:FormItIsSelected=`vmacias@gaia-pm.com`]] >Corporate</option>
		  </select>
		   <br /><br />



        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit Report" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
