[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`vmacias@gaia-pm.com`
  &emailTpl=`tpl-email_status_change`
  &emailSubject=`You have received a change in status submission from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`Change in Status`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`180`
  &validate=`
		username:blank,
		attachment1:required`
]]
[[!FormItRetriever]]

		<form class="form-horizontal" name="status_change" id="status_change" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data" >
      <input type="hidden" name="username" value="" />

      <div class="attachments">
      	<h2>Upload Completed Form</h2>
      	<label>Employee Enrollment Change Form</label> [[!+fi.error.attachment1]]
	      <input name="attachment1" type="file" size="50" value="[[!+fi.attachment1]]" class="last" required/>
      </div>
      <br />

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
