[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`vmacias@gaia-pm.com`
  &emailTpl=`tpl-email_new_hire_process`
  &emailSubject=`You have received a new hire submission from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`New Hire`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`360`
  &validate=`username:blank, name:required`
]]
[[!FormItRetriever]]

<form class="form-horizontal" name="post_position" id="post_position" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data" >
  <input type="hidden" name="username" value="" />

	<div class="control-group">
    <label class="control-label" for="name">Name <span class="required">*</span></label>
    <div class="controls">
      <input type="text" id="name"  name="name" value="[[!+fi.name]]" required>
      [[!+fi.error.name]]
    </div><!--/.controls-->
  </div><!--/.control-group-->

  <div class="attachments">
  	<h2>Upload Completed Forms</h2>
  	<label>I9 Form</label>
    <input name="attachment1" type="file" size="50" value="[[!+fi.attachment1]]" />
    <label>W4 Form</label>
		<input name="attachment2" type="file" size="50" value="[[!+fi.attachment2]]" />
		<label>Direct Deposit Form</label>
		<input name="attachment3" type="file" size="50" value="[[!+fi.attachment3]]" />
		<label>Video Authorization Form</label>
		<input name="attachment4" type="file" size="50" value="[[!+fi.attachment4]]" />
		<label>EEO Information Form</label>
		<input name="attachment5" type="file" size="50" value="[[!+fi.attachment5]]" class="last" />
  </div>
  <br /><br />

  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Complete Step Two" id="form_submit" class="general_button" />
    </div><!--/.controls-->
  </div><!--/.control-group-->
</form>
