[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,FormSave,email`
  &emailTo=`newhire@gaiare.com`
  &emailTpl=`tpl-email_new_hire_process`
  &emailSubject=`You have received a new hire submission from [[++site_url]]`
  &emailFrom=`noreply@gaia.com`
  &fsFormTopic=`New Hire`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`360`
  &validate=`
  	username:blank,
  	name:required,
  	position:required,
  	property:required,
  	start_date:required`
]]
[[!FormItRetriever]]

<form class="form-horizontal" name="post_position" id="post_position" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data" >
  <input type="hidden" name="username" value="" />

	<div class="control-group">
    <label class="control-label" for="name">Name <span class="required">*</span></label>
    <div class="controls">
      <input type="text" id="name"  name="name" value="[[!+fi.name]]" required>
      [[!+fi.error.name]]
    </div><!--/.controls-->
  </div><!--/.control-group-->

  <div class="control-group">
    <label class="control-label" for="position">Position <span class="required">*</span></label>
    <div class="controls">
      <input type="text" id="position"  name="position" value="[[!+fi.position]]" required>
      [[!+fi.error.position]]
    </div><!--/.controls-->
  </div><!--/.control-group-->

  <div class="control-group">
    <label class="control-label" for="property">Property <span class="required">*</span></label>
    <div class="controls">
      <input type="text" id="property"  name="property" value="[[!+fi.property]]" required>
      [[!+fi.error.property]]
    </div><!--/.controls-->
  </div><!--/.control-group-->

  <div class="control-group">
    <label class="control-label" for="start_date">Start Date <span class="required">*</span></label>
    <div class="controls">
      <input type="text" id="start_date"  name="start_date" value="[[!+fi.start_date]]" required>
      [[!+fi.error.start_date]]
    </div><!--/.controls-->
  </div><!--/.control-group-->

  <h2>Division</h2>
  <select name="division">
   <option value="Real Estate" [[!+fi.division:FormItIsSelected=`Real Estate`]]>Real Estate</option>
   <option value="Property Management" [[!+fi.division:FormItIsSelected=`Property Management`]]>Property Management</option>
  </select>
  <br /><br />

  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Complete Step One" id="form_submit" class="general_button" />
    </div><!--/.controls-->
  </div><!--/.control-group-->
</form>
