<tr>
	<td><a href="[[~[[+id]]]]">[[+pagetitle]]</a></td>
	<td class="hidden-sm hidden-xs">[[+tv.city]]</td>
	<td class="hidden-sm hidden-xs">[[+tv.state]]</td>
	<td><a href="mailto:[[+tv.property_email]]">[[+tv.property_email]]</a></td>
	<td class="hidden-ms hidden-sm hidden-xs">[[+tv.property_phone]]</td>
</tr>