<div class="loginFP">
		<h1>Forgot Password</h1>
		<div class="error">[[+loginfp.errors]]</div>
    <form class="loginFPForm" action="[[~[[*id]]]]" method="post">
	    	<div class="control-group">
	        <label class="control-label" for="email">[[%login.email]]</label>
	        <div class="controls">
	          <input class="loginFPEmail" type="text" name="email" value="[[+loginfp.post.email]]" />
	        </div><!--/.controls-->
	      </div><!--/.control-group-->
	      <input class="returnUrl" type="hidden" name="returnUrl" value="[[+loginfp.request_uri]]" />   
        <input class="loginFPService" type="hidden" name="login_fp_service" value="forgotpassword" />
        <input type="submit" name="login_fp" value="[[%login.reset_password]]" class="general_button" />
				<br />
				<a href="[[~174]]" class="forgot">Return Home</a>
    </form>
</div> 