<div class="loginForm">
		<h1>Login</h1>  
		<p>You are already logged in.</p><br />
		<a href="[[~1]]" class="general_button">Return Home</a>
		<a href="[[~174? &service=logout]]" title="Logout" class="general_button">Logout</a>
</div>