<div class="loginResetPass">
<p class="loginResetPassHeader">[[+username]],</p>

<p class="loginResetPassText">Your temporary password has been activated.<br />
	
<a href="[[~174]]" class="forgot">Return Home</a></p>  
</div>