<div class="loginForm">
		<h1>Login</h1>
    <div class="error">[[+errors]]</div>
        <form class="loginLoginForm" action="[[~[[*id]]]]" method="post">
	        
	        <div class="control-group">
		        <label class="control-label" for="username">[[%login.username]]</label>
		        <div class="controls">
		          <input class="loginUsername" type="text" name="username" />
		          [[!+fi.error.username]]
		        </div><!--/.controls-->
		      </div><!--/.control-group-->
		      
		      <div class="control-group">
		        <label class="control-label" for="username">[[%login.password]]</label>
		        <div class="controls">
		          <input class="loginUsername" type="password" name="password" />
		          [[!+fi.error.password]]
		        </div><!--/.controls-->
		      </div><!--/.control-group-->
		      
		      <a href="[[~175]]" class="forgot">Forgot password?</a><br />
		      
		      <input class="returnUrl" type="hidden" name="returnUrl" value="[[+request_uri]]" />
		      <input class="loginLoginValue" type="hidden" name="service" value="login" />
		      <input type="submit" name="Login" value="[[+actionMsg]]" class="general_button" /> 
		      
	        
        </form>
    </div>
</div>