[[!ChangePassword?
	&postHooks=`redirectHomeHook`
  &reloadOnSuccess=`0`
  &successMessage=`Your password has been changed.`
  &placeholderPrefix=`logcp.`
]]
<form class="form inline" action="" method="post">
		<h1>Change Password</h1>
    <input type="hidden" name="nospam:blank" value="" />
    
    <div class="control-group">
      <label class="control-label" for="password_old">Old Password</label>
      <div class="controls">
        <input type="password" name="password_old" id="password_old" value="[[+cp.password_old]]" />
        <span class="error">[[+logcp.error.password_old]]</span>
      </div><!--/.controls-->
    </div><!--/.control-group-->
   
    <div class="control-group">
      <label class="control-label" for="password_new">[[!%login.password_new]]</label>
      <div class="controls">
        <input type="password" name="password_new:required" id="password_new" value="[[+logcp.password_new]]" />
        <span class="error">[[+logcp.error.password_new]]</span>
      </div><!--/.controls-->
    </div><!--/.control-group-->
    
    <div class="control-group">
      <label class="control-label" for="password_new_confirm">[[!%login.password_new_confirm]]</label>
      <div class="controls">
         <input type="password" name="password_new_confirm:required" id="password_new_confirm" value="[[+logcp.password_new_confirm]]" />
         <span class="error">[[+logcp.error.password_new_confirm]]</span>
      </div><!--/.controls-->
    </div><!--/.control-group-->
 
    <div class="form-buttons">
        <input type="submit" name="logcp-submit" class="general_button" value="[[!%login.change_password]]" />
    </div>
    <a class="forgot" href="[[~1]]">Cancel</a> 
</form>  