<form class="sisea-search-form" action="[[~[[+landing:default=`[[*id]]`]]]]" method="[[+method:default=`get`]]">
    <input type="text" name="[[+searchIndex]]" id="[[+searchIndex]]" value="SEARCH" />
    <input type="hidden" name="id" value="[[+landing:default=[[*id]]]]" /> 
    <button type="submit" name="submit" value="[[%sisea.search? &namespace=`sisea` &topic=`default`]]"></button>
</form>