<div class="row">
				
	<div id="section1" class="col-lg-6 col-md-6 col-ms-6 col-sm-6 col-xs-12">
	 	<div class="row">
	   	<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6 col-xs-6 alpha">
		   	<a href="[[~[[+s1l1]]]]" class="block1 solid green"><span>[[#[[+s1l1]].pagetitle]]</span></a>
	   	</div><!--/.col6-->
	   	<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6 col-xs-6 omega">
		   	<a href="[[~[[+s1l2]]]]" class="block2 monotone green"><span>[[#[[+s1l2]].pagetitle]]</span></a>
	   	</div><!--/.col6-->
	 	</div><!--/.row-->
	 	<div class="row alpha">
	   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12 col-xs-12">
		   	<a href="[[~[[+s1l3]]]]" class="block3 fullcolor green"><span>[[#[[+s1l3]].pagetitle]]</span></a>
	   	</div><!--/.col12-->
	 	</div><!--/.row-->
	</div><!--/.col6-->
				   		
					   	
		<div id="section2" class="col-lg-6 col-md-6 col-ms-6 col-sm-6 col-xs-12">
	 	<div class="row">
	   	<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6">
		   	<a href="[[~[[+s2l1]]]]" class="block1 monotone darkblue"><span>[[#[[+s2l1]].pagetitle]]</span></a>
	   	</div><!--/.col6-->
	   	<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6">
		   	<div class="row">
			   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12 omega">
				   	<a href="[[~[[+s2l2]]]]" class="block2 solid darkblue" target="_blank"><span>[[#[[+s2l2]].pagetitle]]</span></a>
			   	</div><!--/.col12-->
		   	</div><!--/.row-->
		   	<div class="row">
			   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12 omega">
				   	<a href="[[~[[+s2l3]]]]" class="block3 fullcolor darkblue"><span>[[#[[+s2l3]].pagetitle]]</span></a>
			   	</div><!--/.col12-->
		   	</div><!--/.row-->
	   	</div><!--/.col6-->
	 	</div><!--/.row-->
		</div><!--/.col6-->
		
	</div><!--/.row-->
	
	<div class="row">
	
		<div id="section3" class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
	 	<div class="row">
	   		<div class="col-lg-8 col-md-8 col-ms-8 col-sm-8 alpha">
		   	<div class="row">
			   	<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6">
				   	<div class="row">
					   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
						   	<div class="feed">
							   	<span><a href="[[~[[+s3l1]]]]"/>[[#[[+s3l1]].pagetitle]]</a></span>
							   	<ul class="slider">
							   		[[!getResources? 
								   		&parents=`-1` 
								   		&resources=`26` 
								   		&tpl=`tpl-gr-announcements` 
								   		&limit=`1`
								   	]]
							   	</ul>
							   	<div class="feed-bg"></div>
						   	</div><!--/.feed-->  	 
					   	</div><!--/.col12-->
				   	</div><!--/.row-->
				   	<div class="row"> 
					   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
						   	<a href="[[~[[+s3l3]]]]" class="block2 fullcolor lightblue"><span>[[#[[+s3l3]].pagetitle]]</span></a>
					   	</div><!--/.col12-->
				   	</div><!--/.row-->
			   	</div><!--/.col6-->
			   	<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6 omega">
				   	<div class="row">
					   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
						   	<a href="[[~[[+s3l4]]]]" class="block3 fullcolor lightblue"><span>[[#[[+s3l4]].pagetitle]]</span></a>
					   	</div><!--/.col12-->
				   	</div><!--/.row-->
				   	<div class="row">
					   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
						   	<a href="[[~[[+s3l5]]]]" class="block4 monotone lightblue"><span>[[#[[+s3l5]].pagetitle]]</span></a>
					   	</div><!--/.col12-->
				   	</div><!--/.row-->
			   	</div><!--/.col6-->
		   	</div><!--/.row-->
	   	</div><!--/.col8--> 
	 		<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 omega">
	 			<a href="[[~[[+s3l2]]]]" class="block5 solid lightblue"><span>[[#[[+s3l2]].pagetitle]]</span></a>
		   	</div><!--/.col4-->
	 	</div><!--/.row-->
		</div><!--/.col12-->
		
	</div><!--/.row-->
	
	<div class="row">
	
		<div id="section4" class="col-lg-6 col-md-6 col-ms-6 col-sm-6">
	 	<div class="row alpha">
	   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
		   	<a href="[[~[[+s4l1]]]]" class="block1 solid darkblue"><span>[[#[[+s4l1]].pagetitle]]</span></a>
	   	</div><!--/.col12-->
	 	</div><!--/.row-->
	 	<div class="row alpha"> 
	   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
		   	<a href="[[~[[+s4l2]]]]" class="block2 fullcolor darkblue"><span>[[#[[+s4l2]].pagetitle]]</span></a>
	   	</div><!--/.col12-->
	 	</div><!--/.row-->
		</div><!--/.col6-->
		
		<div id="section5" class="col-lg-6 col-md-6 col-ms-6 col-sm-6">
	 	<div class="row alpha">
	   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12 omega">
		   	<a href="[[~[[+s5l1]]]]" class="block1 monotone green"><span>[[#[[+s5l1]].pagetitle]]</span></a>
	   	</div><!--/.col12-->
	 	</div><!--/.row-->
	 	<div class="row">
	   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
		   	<a href="[[~[[+s5l2]]]]" class="block2 monotone green"><span>[[#[[+s5l2]].pagetitle]]</span></a>
	   	</div><!--/.col4-->
	   	<div class="col-lg-8 col-md-8 col-ms-8 col-sm-8 omega">
		   	<a href="[[~[[+s5l3]]]]" class="block3 fullcolor green"><span>[[#[[+s5l3]].pagetitle]]</span></a>
	   	</div><!--/.col8-->
	 	</div><!--/.row-->
	 	<div class="row alpha">
	   	<div class="col-lg-12 col-md-12 col-ms-12 col-sm-12 omega">
		   	<a href="[[~[[+s5l4]]]]" class="block4 solid green"><span>[[#[[+s5l4]].pagetitle]]</span></a>
	   	</div><!--/.col12-->
	 	</div><!--/.row-->
		</div><!--/.col6-->
		
	</div><!--/.row-->
	
	<div class="row">
	
		<div id="section6" class="col-lg-12 col-md-12 col-ms-12 col-sm-12">
			<div class="row">
	 		<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 alpha">
		   	<a href="[[~[[+s6l1]]]]" class="block1 monotone lightblue"><span>[[#[[+s6l1]].pagetitle]]</span></a>
	   	</div><!--/.col4--> 
	   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 omega">
		   	<a href="[[~[[+s6l2]]]]" class="block2 monotone lightblue"><span>[[#[[+s6l2]].pagetitle]]</span></a>
	   	</div><!--/.col4-->
	   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 omega">
		   	<a href="[[~[[+s6l3]]]]" class="block3 monotone lightblue"><span>[[#[[+s6l3]].pagetitle]]</span></a>
	   	</div><!--/.col4-->
	 	</div><!--/.row-->
	</div><!--/.col12-->
	
</div><!--/.row-->