<tr class="[[+cls]]">
	<td>[[+fullname]]</td>
	<td class="hidden-ms hidden-sm hidden-xs">[[+comment]]</td>
	<td><a href="mailto:[[+email]]">[[+email]]</a></td>
	<td class="hidden-sm hidden-xs">[[!PeopleGroups? &user=`[[+id]]` &limit=`0` &tpl=`tpl-peoples_p_groups`]]</td>
</tr>