<div class="sisea-result">
    <h3>[[+idx]]. <a href="[[+parent:is=`204`:then=`[[+form_file]]`:else=`
	[[+link:is=``:then=`[[~[[+id]]]]`:else=`[[+link]]`]]
`]]" title="[[+longtitle]]" [[+parent:is=`204`:then=`target="_blank"`]]>[[+pagetitle]]</a></h3> 
    <div class="extract"><p>[[+extract]]</p></div>
</div>

