[[$head]]
    <section id="login_home">
	    <div class="overlay">
		    <div class="login">
			    [[*content]]
		    </div><!--/.login-->
	    </div><!--/.overlow-->
    </section>
		[[$scripts]]
 	</body>
</html>