[[$head]]
[[$header]]

	<section id="search" class="hidden">
		<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-ms-offset-8 col-sm-offset-8">
					[[!SimpleSearchForm? &tpl=`tpl-search_form` &landing=`32`]]
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
	</section>

 	<section id="general">
   	<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
			   	<nav>
			   		[[Wayfinder? &startId=`0` &level=`2` &excludeDocs=`1` &limit=`1000`]]
			   	</nav>
		   	</div><!--/.col4-->
		   	<div class="col-lg-8 col-md-8 col-ms-8 col-sm-8">
		   		<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
			   	[[*content]]

					<table id="data-table" class="table table-hover table-condensed">
						<thead>
							<tr>
								<th>Property Name</th>
								<th class="hidden-sm hidden-xs">City</th>
								<th class="hidden-sm hidden-xs">State</th>
								<th>Email</th>
								<th class="hidden-ms hidden-sm hidden-xs">Phone</th>
							</tr>
						</thead>
						<tbody>
							[[getResources?
						    &tpl=`gr-tpl-properties`
								&depth=`1`
								&sortby=`{"pagetitle":"ASC"}`
								&limit=`0`
								&showHidden=`1`
								&includeTVs=`1`
								&includeTVList=`city,state,property_email,property_phone`
								&processTVs=`1`
								&processTVList=`city,state,property_email,property_phone`
							]]
						</tbody>
					</table>

		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
 	</section>
[[$footer]]