[[$head]]
[[$header]]


 
	<section id="search" [[*parent:isnt=`4`:then=`[[*id:isnt=`32`:then=`class="hidden"`]]`]]>
		<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-ms-offset-8 col-sm-offset-8">
					[[!SimpleSearchForm? &tpl=`tpl-search_form` &landing=`32`]] 
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
	</section>

 	<section id="general">
   	<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
			   	<nav>
			   		[[Wayfinder? &startId=`0` &level=`2` &excludeDocs=`1` &limit=`1000`]]
			   	</nav>
		   	</div><!--/.col4-->
		   	<div class="col-lg-8 col-md-8 col-ms-8 col-sm-8">
		   		[[*parent:isnt=`3`:and:if=`[[UltimateParent? &topLevel=`2`]]`:is=`3`:then=`
		   			<a href="[[~[[*parent]]]]" title="Back" class="general_button back pull-right">Back</a>
		   		`]]
		   		[[*parent:is=`21`:then=`
		   			<a href="[[~[[*parent]]]]" title="Back" class="general_button back pull-right">Back</a>
		   		`]]
			 		<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
			   	[[*content]]
			   	[[*id:is=`26`:then=`
			   		<ul>
						[[getImageList?
							&tvname=`MIGX-announcements`
							&tpl=`@CODE:<li>[[+announcementDesc]]</li>`
						]]
			   		</ul>
			   	`]]
			   	[[*id:is=`32`:then=`
			   		[[!SimpleSearch? &includeTVs=`1` &processTVs=`1` &tpl=`tpl-search-item` &ids=`4`]]   
			   	`]] 
			   	[[*parent:is=`4`:and:if=`[[*id]]`:isnot=`204`:then=`
			   		<div class="toc">
				   		[[Wayfinder? &startId=`[[*id]]`]]
			   		</div>
			   	`]]
			   	[[*id:is=`204`:then=`
			   		[[getResources? 
			   			&parents=`[[*id]]` 
			   			&tpl=`@INLINE <a href="[[+tv.form_file]]" target="_blank">[[+pagetitle]]</a></br />` 							 
			   			&limit=`1000`
			   			&includeTVs=`form_file`
			   			&processTVs=`form_file`
			   		]]
			   	`]]
			   	[[*parent:is=`3`:or:if=`[[*id]]`:is=`21`:then=`
			   		<div id="altnav" class="row"> 
				   		[[getResources? &parents=`[[*id]]` &tpl=`tpl-gr-alt_blocks` &sortby=`menuindex` &sortdir=`ASC` &limit=`30`]]
			   		</div>
			   	`]]
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
 	</section>
[[$footer]]