[[$head]]
[[$header]]

 	<section id="home">
   	<div class="container">
	   	[[getImageList?
		    &tvname=`MIGX-home_blocks`
		    &tpl=`tpl-migx-home_blocks`
		    &limit=`1`
		  ]]
   	</div><!--/.container-->
 	</section>
	[[!redirectAnonymous]]
[[$footer]]