[[$head]]
[[$header]]
  
  <section id="general">
	  <div class="container"> 
	 		<div class="row">
		   	<div class="col-lg-12">
					 <h1>[[*pagetitle]]</h1>
					 [[*content]] 	
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
	 	</div><!--/.container-->
  </section>	
 	
	   	
[[$footer]]