[[$head]]
[[$header]]

	<section id="search" class="hidden">
		<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-ms-offset-8 col-sm-offset-8">
					[[!SimpleSearchForm? &tpl=`tpl-search_form` &landing=`32`]]
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
	</section>

 	<section id="general">
   	<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
			   	<nav>
			   		[[Wayfinder? &startId=`0` &level=`2` &excludeDocs=`1` &limit=`1000`]]
			   	</nav>
		   	</div><!--/.col4-->
		   	<div class="col-lg-8 col-md-8 col-ms-8 col-sm-8">
		   		<a class="back pull-right" href="[[~171]]" title="back to properties">Back</a>
		   		<h1 class="inline-block">[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
			   	<div class="row">
				   	<div class="property-image col-lg-6 col-md-6 col-ms-6 col-sm-12">
					   	<span data-picture>
                <span data-src="i/529[[*property_image]]"></span>
                <span data-src="i/1058[[*property_image]]" data-media="(min-width: 320px)"></span>
					      <span data-src="i/1178[[*property_image]]"		data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0), (-o-min-device-pixel-ratio: 2/1), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2.0)"></span>
					      <span data-src="i/421[[*property_image]]" data-media="(min-width: 590px)"></span>
					      <span data-src="i/842[[*property_image]]"		data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0), (-o-min-device-pixel-ratio: 2/1), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2.0)"></span>
					      <span data-src="i/268[[*property_image]]" data-media="(min-width: 723px)"></span>
					      <span data-src="i/536[[*property_image]]"		data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0), (-o-min-device-pixel-ratio: 2/1), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2.0)"></span>
					      <span data-src="i/301[[*property_image]]" data-media="(min-width: 940px)"></span>
					      <span data-src="i/602[[*property_image]]"		data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0), (-o-min-device-pixel-ratio: 2/1), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2.0)"></span>
					      <span data-src="i/360[[*property_image]]" data-media="(min-width: 1170px)"></span>
					      <span data-src="i/720[[*property_image]]"		data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0), (-o-min-device-pixel-ratio: 2/1), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2.0)"></span>
                <!--[if (lt IE 9) & (!IEMobile)]>
                  <div data-src="i/320[[*about_team_main_image]]"></div>
                <![endif]-->
                <noscript>
                  <img src="i/360[[*property_image]]">
                </noscript>
              </span>
				   	</div><!-- /.property-image -->
				   	<div class="property-info col-lg-6 col-md-6 col-ms-6 col-sm-12">
					   	<p>
							 	<b>Address:</b> [[*street_address]]<br>
							 	[[*city]], [[*state]] [[*zip]]<br>
							 	<b>Phone:</b> [[*property_phone]]<br>
							 	<b>Email:</b> [[*property_email:is=`Unlisted`:then=`Unlisted`:else=`<a href="mailto:[[*property_email]]">[[*property_email]]</a>`]]<br><br>
							 	<b>Yardi Code:</b> [[*yardi_code]]<br>
							 	<b>Units:</b> [[*units]]
					   	</p>
					   	<p>
						 		<b>Property Manager:</b><br>
						 		[[*property_manager:is=`none`:or:is=``:then=`Unlisted`:else=`
						 		  [[pdoUsers?
  						   		&tpl=`@INLINE [[+fullname]]<br><a href="mailto:[[+email]]">[[+email]]</a>`
  						   		&users=`[[*property_manager]]`
  						   	]]
						 		`]]
					 		</p>
					   	<p>
						   	<b>Property Supervisor:</b><br>
						   	[[*property_supervisor:is=`none`:or:is=``:then=`Unlisted`:else=`
                  [[pdoUsers?
                  	&tpl=`@INLINE [[+fullname]]<br><a href="mailto:[[+email]]">[[+email]]</a>`
                  	&users=`[[*property_supervisor]]`
                  ]]
						   	`]]
					   	</p>
				   	</div><!-- /.property-info -->
			   	</div><!-- /.row -->
			   	[[*content]]
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
 	</section>
[[$footer]]