[[$head]]
[[$header]]

	<section id="search">
		<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-ms-offset-8 col-sm-offset-8">
					<form>
						<input name="search" value="SEARCH" />
						<button name="submit"></button>
					</form>
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
	</section>

 	<section id="general">
   	<div class="container">
   		<div class="row">
		   	<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
			   	<nav>
			   		[[Wayfinder? &startId=`0` &level=`2` &excludeDocs=`1` &limit=`100`]]
			   	</nav>
		   	</div><!--/.col4-->
		   	<div class="col-lg-8 col-md-8 col-ms-8 col-sm-8">
		   		<a href="[[~[[*parent]]]]" title="Back" class="general_button back pull-right">TOC</a>
		   		<h1>[[#[[*parent]].pagetitle]]</h1>
		   		<h2>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h2>
			   	[[*content]]
			   	<span class="tocnav">[[!BasicNav? &sortBy=`menuindex` &sortDir=`ASC` &currentPosition=`[[*id]]` &placeholder=`1` &hideFirst=`0`
&hidePrev=`0` &hideNext=`0` &hideLast=`0` &firstTxt=`FIRST` &prevTxt=`PREV` &nextTxt=`NEXT` &lastTxt=`LAST`]]
          [[!+basicnav]]
			   	</span>
		   	</div><!--/.col4-->
		 	</div><!--/.row-->
   	</div><!--/.container-->
 	</section>
[[$footer]]